<h1>Public Recipes</h1>
<% @recipes.each do |recipe| %>
  <div class="card mb-3" style="max-width: 1100x;">
    <div class="row g-0">
      <div class="col-md-3 p-3">
        <h4><strong><%= recipe.name %></strong></h4>
        <p>By: <%= recipe.user.name%></p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Total food items: <%= recipe.recipe_foods.count%></p>
          <p class="card-text">Total price: $203</p>
        </div>
      </div>
    </div>
  </div>
<%end%>
